USE [master]
GO
/****** Object:  Database [Library]    Script Date: 07.12.2025 8:33:58 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[IdAddress] [int] IDENTITY(1,1) NOT NULL,
	[ReaderId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[StreetId] [int] NOT NULL,
	[HouseNumber] [nvarchar](10) NOT NULL,
	[AppartmentNumber] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[IdAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[IdCity] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[IdEmployee] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeSurname] [nvarchar](40) NOT NULL,
	[EmployeeFirstName] [nvarchar](15) NOT NULL,
	[EmployeePatronymic] [nvarchar](15) NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[EmployeeBIrthDate] [date] NOT NULL,
	[EmployeePhoneNumber] [nchar](11) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[IdEmployee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeAndRole]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeAndRole](
	[IdEmployeeAndRole] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeAndRole] PRIMARY KEY CLUSTERED 
(
	[IdEmployeeAndRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[IdGender] [int] IDENTITY(1,1) NOT NULL,
	[GenderName] [nchar](3) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[IdGender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryCard]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryCard](
	[IdLibraryCard] [int] IDENTITY(1,1) NOT NULL,
	[ReaderId] [int] NOT NULL,
	[LibraryCardNumber] [decimal](13, 0) NOT NULL,
	[RegistrationDate] [date] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_LibraryCard] PRIMARY KEY CLUSTERED 
(
	[IdLibraryCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reader]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reader](
	[IdReader] [int] IDENTITY(1,1) NOT NULL,
	[ReaderSurname] [nvarchar](40) NOT NULL,
	[ReaderFirstName] [nvarchar](15) NOT NULL,
	[ReaderPatronymic] [nvarchar](15) NULL,
	[GenderId] [int] NOT NULL,
	[BirthDate] [date] NOT NULL,
	[PassportSeries] [nchar](10) NOT NULL,
	[PassportNumber] [nchar](10) NOT NULL,
	[ReaderPhoneNumber] [nchar](11) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
 CONSTRAINT [PK_Reader] PRIMARY KEY CLUSTERED 
(
	[IdReader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](60) NOT NULL,
	[RoleDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 07.12.2025 8:33:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[IdStreet] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [nchar](132) NOT NULL,
 CONSTRAINT [PK_Street] PRIMARY KEY CLUSTERED 
(
	[IdStreet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([IdEmployee], [EmployeeSurname], [EmployeeFirstName], [EmployeePatronymic], [Login], [Password], [EmployeeBIrthDate], [EmployeePhoneNumber], [Status]) VALUES (1, N'Рыбакова', N'Таисия', N'Владимировна', N'komp01', N'fond01', CAST(N'1970-01-01' AS Date), N'79125441254', 1)
INSERT [dbo].[Employee] ([IdEmployee], [EmployeeSurname], [EmployeeFirstName], [EmployeePatronymic], [Login], [Password], [EmployeeBIrthDate], [EmployeePhoneNumber], [Status]) VALUES (2, N'Джунгариков', N'Гарик', N'Алексеевич', N'katal03', N'matal03', CAST(N'1983-12-04' AS Date), N'79081460605', 1)
INSERT [dbo].[Employee] ([IdEmployee], [EmployeeSurname], [EmployeeFirstName], [EmployeePatronymic], [Login], [Password], [EmployeeBIrthDate], [EmployeePhoneNumber], [Status]) VALUES (3, N'Александрова', N'Александра', N'Александровна', N'book02', N'look02', CAST(N'2000-10-10' AS Date), N'79111525515', 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeAndRole] ON 

INSERT [dbo].[EmployeeAndRole] ([IdEmployeeAndRole], [EmployeeId], [RoleId]) VALUES (1, 1, 1)
INSERT [dbo].[EmployeeAndRole] ([IdEmployeeAndRole], [EmployeeId], [RoleId]) VALUES (2, 2, 3)
INSERT [dbo].[EmployeeAndRole] ([IdEmployeeAndRole], [EmployeeId], [RoleId]) VALUES (3, 3, 2)
SET IDENTITY_INSERT [dbo].[EmployeeAndRole] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [RoleName], [RoleDescription]) VALUES (1, N'Комплектатор фонда', N'Формирует фонд библиотеки: анализирует потребности читателей, изучает издательские планы, оформляет заказы на литературу и ведет учет новых поступлений')
INSERT [dbo].[Role] ([IdRole], [RoleName], [RoleDescription]) VALUES (2, N'Обслуживание читателей', N'Запись в библиотеку, выдача и прием литературы')
INSERT [dbo].[Role] ([IdRole], [RoleName], [RoleDescription]) VALUES (3, N'Каталогизатор', N'Занимается научной составляющей библиотечного дела: систематизирует книги и документы по темам, присваивает им индексы классификации, создает библиографические записи')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([IdCity])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_City]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Reader] FOREIGN KEY([ReaderId])
REFERENCES [dbo].[Reader] ([IdReader])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Reader]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_Address_Street] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Street] ([IdStreet])
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_Address_Street]
GO
ALTER TABLE [dbo].[EmployeeAndRole]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAndRole_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([IdEmployee])
GO
ALTER TABLE [dbo].[EmployeeAndRole] CHECK CONSTRAINT [FK_EmployeeAndRole_Employee]
GO
ALTER TABLE [dbo].[EmployeeAndRole]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeAndRole_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[EmployeeAndRole] CHECK CONSTRAINT [FK_EmployeeAndRole_Role]
GO
ALTER TABLE [dbo].[LibraryCard]  WITH CHECK ADD  CONSTRAINT [FK_LibraryCard_Reader] FOREIGN KEY([ReaderId])
REFERENCES [dbo].[Reader] ([IdReader])
GO
ALTER TABLE [dbo].[LibraryCard] CHECK CONSTRAINT [FK_LibraryCard_Reader]
GO
ALTER TABLE [dbo].[Reader]  WITH CHECK ADD  CONSTRAINT [FK_Reader_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([IdGender])
GO
ALTER TABLE [dbo].[Reader] CHECK CONSTRAINT [FK_Reader_Gender]
GO
USE [master]
GO
